
.tabla-admin-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.tabla-admin-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

.agregar-btn {
    background-color: #d0ff91;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.agregar-btn:hover {
    background-color: #c4e67c;
}

.tabla-admin {
    width: 100%;
    border-collapse: collapse;
}

.tabla-admin thead {
    background-color: #f4eafa;
    color: #000;
    text-align: left;
}

.tabla-admin th,
.tabla-admin td {
    padding: 12px;
    text-align: left;
}

.tabla-admin th {
    font-weight: bold;
}

.tabla-admin tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla-admin tbody tr:hover {
    background-color: #f1f1f1;
}

.shoe-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}


.edit-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    transition: transform 0.2s;
    text-align: centers;
}

.edit-btn:hover {
    color: #4caf50;
    transform: scale(1.2);
}

.delete-btn:hover {
    color: #f44336;
    transform: scale(1.2);
}

/* Fondo transparente para el modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-btn {
    background: #f44336;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-btn:hover {
    background-color: #d32f2f;
}

.save-btn {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-btn:hover {
    background-color: #388e3c;
}

.modal-content h3 {
    margin-bottom: 15px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
