.card{
    width: 250px;
    margin: 48px auto;
    border: 2px solid #222;
    border-radius: 15px;
    padding-bottom: 5px;
    background-color: var(--background-color);
    box-shadow: -5px 5px 0px 2px var(--shadow-color);
    transition: transform 0.4s ease;
}

.card:hover {
    transform: translateY(-5px); /* Eleva la tarjeta ligeramente */
    box-shadow: -5px 5px 0px 2px var(--accent-color-hover);
}

.card-offer{
    width: 90%;
    max-width: 300px;
    margin: 48px auto; 
    border: 2px solid #222;
    border-radius: 15px;
    padding-bottom: 5px;
    background-color: var(--background-color);
}

h3{
    font-size: var(--font-size-base);
}

.img{
    width: 80%;
    border-radius: 15px;
}

.product-info{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.old-price{
    text-decoration: line-through;
    padding-right: 5px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews{
    display: flex;
    align-items: center;
}


