@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.barra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 50px; /* QUITAR*/
}

.logo {
  width: 40px; 
}

.titulo {
  flex-grow: 1; 
  text-align: center;
  font-size: 50px; /* Incrementado 20px */
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
}

.titulo-link {
  text-decoration: none; 
  color: inherit; 
}

.iconos {
  width: 100px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 20px;
}

.icono {
  width: 40px; 
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #9a60d5; 
  padding: 10px 0;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.nav a:hover {
  background-color: #7b46a3; 
}