/* Estilo del contenedor del carrusel */

.slider-container {
    position: relative;
    width: 100%;
    max-width: 75%;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
  }
  
  /* Estilo de las imágenes del carrusel */
  .imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .imagen-carrusel {
    width: 100%;
    height: auto;
    display: none;
  }
  
  .imagen-carrusel.visible {
    display: block;
  }
  
  /* Estilo de los botones de navegación */
  .boton-carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e8d4fc;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .boton-carrusel img {
    width: 20px;
    height: 20px;
  }
  
  .boton-carrusel.anterior {
    left: 10px;
  }
  
  .boton-carrusel.siguiente {
    right: 10px;
  }
  
  .boton-carrusel:hover {
    background-color: #e8d4fc;;
  }